commands:
    setvars:
        command: /opt/elasticbeanstalk/bin/get-config environment | jq -r 'to_entries | .[] | "export \(.key)=\"\(.value)\""' > /etc/profile.d/sh.local

container_commands:
    # Copy env configuration file over
    01_config_environment:
        command: mv .env.example .env
    # Set up Laravel key
    02_set_application_key:
        command: php artisan key:generate
    # Refresh cache
    03_refresh_cache:
        command: php artisan optimize
    # Migrate db
    04_migrate_db:
        command: php artisan migrate --force       