container_commands:
    # Copy env configuration file over
    01_config_environment:
        command: mv /var/app/current/.env.example /var/app/current/.env
    02_cd:
        command: cd /var/app/current
    # Set up Laravel key
    03_set_application_key:
        command: php artisan key:generate
    # Migrate db
    04_migrate_db:
        command: php artisan migrate